<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div  th:fragment="header(pageName)">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg white navbar-light fixed-top navbar-expand-lg">
        <a class="navbar-brand" href="/home" th:text="#{header.nav.cart-admin}">Cart Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
	<!--/.Navbar-->
    </div>
  </body>
</html>