<head th:fragment="commonHeader(title, links, scripts, meta)">
    <title th:replace="${title}">Cart Admin</title>

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />

    <!-- meta data script -->
    <th:block th:if="${meta}">
        <th:block th:replace="${meta}" />
    </th:block>

    <!-- Common styles -->

    <link rel="stylesheet" type="text/css" media="all" th:href="@{//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/cartadmin/common/css/compiled.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/jquery.dataTables.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/cartadmin/common/css/common.css}">
    <!-- Specific styles -->
    <th:block th:if="${links}">
        <th:block th:replace="${links}" />
    </th:block>
</head>
