<th:block  th:fragment="commonScript(scripts)">
    <!-- Common scripts -->
    <script type="text/javascript" th:src="@{cartadmin/common/js/class.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{cartadmin/common/js/compiled.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js}"></script>

    <!-- Specific scripts -->
    <th:block th:if="${scripts}">
        <th:block th:replace="${scripts}" />
    </th:block>
</th:block>
